

<h1>Guardar  Libro</h1>
<p>Find me in app/views/bibliotecas/edit.html.erb</p>
<% %>
<%= form_for(@hash_n_libro) do |f| %>
       <p>titulo</p>
    <%= f.text_field :titulo %>
    <p>precio p</p>
    <%= f.text_field :precio %> <br><br>
    <%= f.select(:autor_id ,"", {},{}) do %>  <br><br>
    <%= options_from_collection_for_select(@var_id, :id, :nom )%>
    <%end%>

<br><br><br>
 <%= f.submit "Guardar Biblioteca Nueva"%>

<% end %>